WindowsFormsApp1/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getAll">
        <s:complexType />
      </s:element>
      <s:element name="getAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllResult" type="tns:ArrayOfStudent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addStudentResult" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ma" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteStudentResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAllSoapIn">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="getAllSoapOut">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="addStudentSoapIn">
    <wsdl:part name="parameters" element="tns:addStudent" />
  </wsdl:message>
  <wsdl:message name="addStudentSoapOut">
    <wsdl:part name="parameters" element="tns:addStudentResponse" />
  </wsdl:message>
  <wsdl:message name="deleteStudentSoapIn">
    <wsdl:part name="parameters" element="tns:deleteStudent" />
  </wsdl:message>
  <wsdl:message name="deleteStudentSoapOut">
    <wsdl:part name="parameters" element="tns:deleteStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getAll">
      <wsdl:input message="tns:getAllSoapIn" />
      <wsdl:output message="tns:getAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <wsdl:input message="tns:addStudentSoapIn" />
      <wsdl:output message="tns:addStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteStudent">
      <wsdl:input message="tns:deleteStudentSoapIn" />
      <wsdl:output message="tns:deleteStudentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <soap:operation soapAction="http://tempuri.org/addStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStudent">
      <soap:operation soapAction="http://tempuri.org/deleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAll">
      <soap12:operation soapAction="http://tempuri.org/getAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStudent">
      <soap12:operation soapAction="http://tempuri.org/addStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteStudent">
      <soap12:operation soapAction="http://tempuri.org/deleteStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44300/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44300/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>